/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.panel-info>.panel-heading
{
    background-image: linear-gradient(to bottom, #086df5 0, #086df5 100%);
}

.panel-title
{
    background-image: inherit;
    color: white;
    font-weight: bold;
    text-decoration-style: solid;
    font-size: medium;
}

panel-heading
{
    background-image: linear-gradient(to bottom, #086df5  0, #086df5 100%);
}

.panel-info>.panel-heading>.source-heading
{
    margin-bottom: 0;
    -webkit-animation:random;
    animation: random;
    text-align: center;
    margin-bottom: 5px;
    background-image: linear-gradient(to bottom, #086df5 0, #086df5 100%);
}

.panel-info>.panel-heading>.report-title
{
    background-image: inherit;
    color: white;
    font-weight: bold;
    text-decoration-style: solid;
    font-size: medium;
    background-image: linear-gradient(to bottom, #086df5 0, #086df5 100%);
    direction:rtl;
}

.text-center{
    text-align: center;
}

.space-bot{
    margin-bottom: 35px;
}

.space-top{
    margin-top: 35px;
}

/* Title */

h1 {
    color: white;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

/* Sign Up */

.dragger-form {
    max-width: 400px;
    max-height: 100px;
    margin-top: 10px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
}

.alert-danger{
    text-align: center;
}

.signup-screen {
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    color: #0859c1;
}

.input-group {
    width:100%;
}

.input-group .ng-invalid {
    border: 2px solid #e74c3c;
    border-radius: 3px;
}

.help-block {
    font-size: 12px;
    color: white
}


*, :before, :after {
    box-sizing: border-box;
}
form h1 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    color: #2196f3;
}
form h5 {
    text-align: center;
    text-transform: uppercase;
    color: #c6c6c6;
}
form hr.sep {
    background: #2196f3;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
}
form .emoji {
    font-size: 1.2em;
}
.group {
    position: relative;
    margin: 45px 0;
}
textarea {
    resize: none;
}
input, textarea {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 0px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}
input:focus, textarea:focus {
    outline: none;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    top: -14px;
    font-size: 12px;
    right:0;
    color: #2196f3;
}
input:focus ~ .bar:before, textarea:focus ~ .bar:before {
    width: 100%;
}
input[type="password"] {
    letter-spacing: 0.3em;
}

label {
    color: #c6c6c6;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: 300ms ease all;
}
.bar {
    position: relative;
    display: block;
    width: 100%;
}
.bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #2196f3;
    transition: 300ms ease all;
    left: 0%;
}
.btn {
    background-color: #0869f7;
    color: #e0dfdf;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
    color: white;
    background-color: #0859C1;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
    background: #2196f3;
    color: #d3eafd;
}
.btn.btn-link:hover {
    background: #0d8aee;
    color: #deeffd;
}
.btn.btn-submit {
    background: #2196f3;
    color: #bce0fb;
}
.btn.btn-submit:hover {
    background: #0d8aee;
    color: #deeffd;
}
.btn.btn-cancel {
    background: #eee;
}
.btn.btn-cancel:hover {
    background: #e1e1e1;
    color: #8b8b8b;
}
.btn-box {
    text-align: center;
    margin: 50px 0;
}

.remove-report-icon
{
    width: 19px;
}

.remove-column-button {
    background-color: #b86463;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.remove-column-button:hover {
    background-color: #b84443;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.column-padding-removal
{
    padding-left:0px;
    padding-right:0px;
}

.build-report-name
{
    font-size: 20px;
    border-radius: 3px;
    width: 100%;
    background-color: white;
    color:black;
    direction:rtl;
}

.padding-report-name
{
    padding-bottom: 40px;
}

.build-report-name-label
{
     top: -14px;
     font-size: 12px;
     right:0;
     color: #2196f3;
}

.report-area
{
    height:500px;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    direction:rtl;
}

.scrollable-sources-area
{
    height:83vh;
    overflow-y:scroll;
    scroll-behavior: smooth;
}

.scrollable-sources-area::-webkit-scrollbar
{
    width: 0 !important
}


/*--------------------SCROLLBAR---------------------*/

#style-8::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-track {
    border: 1px solid black;
    background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.scrollbar {
    margin-left: 22px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

.build-button
{
    font-size: medium;
    width:100px;
}

.create-source
{
margin-top: 50px;
}