.text-center {
	text-align: center;
}

.space-bot {
	margin-bottom: 35px;
}

.space-top {
	margin-top: 35px;
}

/* Title */
h1 {
	color: white;
	font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: 900;
	font-size: 25px;
	text-align: center;
}

/* Sign Up */
.dragger-form {
	max-width: 400px;
	max-height: 100px;
	margin-top: 10px;
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
}

.wide-form {
	max-width: 800px;
	max-height: 100px;
	margin-top: 10px;
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
}

.alert-danger {
	text-align: center;
}

.signup-screen {
	padding: 20px;
	padding-bottom: 40px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
	color: #0859c1;
}

.btn {
	background-color: #0869f7;
	color: #e0dfdf;
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn:hover {
	color: white;
	background-color: #0859C1;
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px
		rgba(0, 0, 0, 0.12);
}

.btn.btn-link {
	background: #2196f3;
	color: #d3eafd;
}

.btn.btn-link:hover {
	background: #0d8aee;
	color: #deeffd;
}

.btn.btn-submit {
	background: #2196f3;
	color: #bce0fb;
}

.btn.btn-submit:hover {
	background: #0d8aee;
	color: #deeffd;
}

.btn-box {
	text-align: center;
	margin: 50px 0;
}

.input-group {
	width: 100%;
}

.input-group .ng-invalid {
	border: 2px solid #e74c3c;
	border-radius: 3px;
}

input, textarea {
	background: none;
	color: #c6c6c6;
	font-size: 18px;
	padding: 0px 10px 10px 5px;
	display: block;
	width: 100%;
	line-height: 35px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #c6c6c6;
}

.help-block {
	font-size: 12px;
	color: white
}

/* select starting stylings ------------------------------*/
option {
	background-color: #d7dae2;
}

.select {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	position: relative;
	width: 100%;
	background-color: #E3D9DB;
}

.checkbox {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	position: relative;
	width: 100%;
	background-color: #E3D9DB;
}

.select-text {
	direction: rtl;
	position: relative;
	font-family: inherit;
	width: 150px;
	padding: 10px 10px 10px 0;
	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	position: relative;
}

/* Remove focus */
.select-text:focus {
	outline: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

/* Use custom arrow */
.select .select-text {
	appearance: none;
	-webkit-appearance: none
}

.checkbox-text {
	direction: rtl;
	position: relative;
	font-family: inherit;
	width: 15px;
	padding: 10px 10px 10px 0;
	font-size: 18px;
	border-radius: 0;
	border: none;
	position: relative;
}

.select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
	color: #2F80ED;
}

/* LABEL ======================================= */
.select-label {
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	right: 0;
	top: 10px;
	transition: 0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
	direction: rtl;
	color: #2F80ED;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
	color: #2F80ED;
}

/* BOTTOM BARS ================================= */
.select-bar {
	position: relative;
	display: block;
	width: 150px;
}

.select-bar:before, .select-bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #2F80ED;
	transition: 0.2s ease all;
}

.select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~
	.select-bar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
	direction: rtl;
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
	position: absolute;
}

.download-disabled {
	pointer-events: none;
}

.add-filter {
	background-color: #55c34f;
	color: white;
	border: none;
	margin-top: 10px;
	padding: 10px 20px;
	border-radius: 3px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	white-space: nowrap;
}

.add-filter:hover {
	color: white;
	background-color: #3DA134;
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px
		rgba(0, 0, 0, 0.12);
}

.generate-report {
	background-color: #0867ff;
	color: white;
	text-decoration-style: solid;
	width: 230px;
}

.generate-report:hover {
	background-color: #0859C1;
	transition: all 0.3s ease 0.2s;
}

.loading-icon {
	margin-left: 70px
}

.options-row {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	position: relative;
	width: 100%;
	background-color: white;
	margin-top: 25px;
}

.options-row-label {
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
	margin-left: 50%;
	white-space: nowrap;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.b {
  display: block;
}

.toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 25px;
  border-radius: 100px;
  background-color: #ddd;
  margin: 15px -40px;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
}

.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

  .check:checked ~ .track {
    box-shadow: inset 0 0 0 20px #4bd863;
  }

  .check:checked ~ .switch {
    right: 2px;
    left: 22px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
  }

.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 22px;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-property: left, right;
  transition-delay: 0s, .05s;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
  border-radius: 40px;
}

.label-duplicates
{
word-wrap: break-word;
margin-top: 8px;
margin-left: 20px;
font-size:16px;
color:#696969;
}

.awesomplete > ul
{
    height:175px;
    overflow-y:scroll;
}

.dragger-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.dragger-scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.dragger-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

.dropdown-button-suggestions
{
    border:none;
    background-color:transparent;
}

.dropdown-input
{
    color: #0859c1;
    text-align:right;
    padding-top:10px;
    padding-bottom:0px;
}

.column-value
{
    color: #0859c1;
    text-align:right;
    padding-top:10px;
    padding-bottom:0px;
}

.filter-row-padding
{
padding-top:3px;
}