<div class="dragger-form">
	<div id="signup">
		<form class="form-define-columns" method="post" name="register"
			novalidate>
			<div class="signup-screen">
				<div class="select">
					<select class="select-text" ng-model="selected">
						<option ng-repeat="source in sources"
							value="{{source._links.self.href}}">{{source.name}}</option>
					</select> <span class="select-highlight"></span> <span class="select-bar"></span>
					<label class="select-label">Choose Source</label>
				</div>
				<div class="group">
					<input type="text" id="name" ng-model="column.name" required>
					<span class="highlight"></span> <span class="bar"></span> <label>Name</label>
				</div>
				<div class="group">
					<input type="text" id="raw" ng-model="column.raw" required>
					<span class="highlight"></span> <span class="bar"></span> <label>Raw</label>
				</div>
				<div class="select">
					<select class="select-text"
						ng-options="dataType as dataType for dataType in dataTypes track by dataType"
						ng-model="column.dataType">
						<!--<option ng-repeat="dataType in dataTypes" value="{{dataType}}">{{dataType}}</option>-->
					</select> <span class="select-highlight"></span> <span class="select-bar"></span>
					<label class="select-label">Data Type</label>
				</div>
				<div class="row visible-button">
					<div class="col-md-3">
						<div class="toggle">
							<input type="checkbox" ng-model="visible" class="check">
							<b class="b switch"></b> <b class="b track"></b>
						</div>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-8">
						<label class="label-duplicates">נראה למשתמש</label>
					</div>
				</div>
				<div class="row isId-button">
					<div class="col-md-3">
						<div class="toggle">
							<input type="checkbox" ng-model="isId" class="check"> <b
								class="b switch"></b> <b class="b track"></b>
						</div>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-8">
						<label class="label-duplicates">האם מזהה</label>
					</div>
				</div>
				<div class=" row space-top text-center">
					<button ng-disabled="form-define-columns.$invalid"
						ng-click="defineColumn(column.name, column.raw, column.dataType, selected)"
						class="waves-effect waves-light btn done">Define columns
					</button>
				</div>
			</div>
		</form>
	</div>
</div>