<div class="dragger-form">
	<div id="signup">
		<form class="form-define-columns" method="post" name="register"
			novalidate>
			<div class="signup-screen">
				<div class="select">
					<select class="select-text" ng-model="selected">
						<option ng-repeat="source in sources"
							value="{{source._links.self.href}}">{{source.name}}</option>
					</select> <span class="select-highlight"></span> <span class="select-bar"></span>
					<label class="select-label">Choose Source</label>
				</div>
				<div class="group">
					<input type="text" id="name" ng-model="column.name" required>
					<span class="highlight"></span> <span class="bar"></span> <label>Name</label>
				</div>
				<div class="group">
					<input type="text" id="raw" ng-model="column.raw" required>
					<span class="highlight"></span> <span class="bar"></span> <label>Raw</label>
				</div>
				<div class="select">
					<select class="select-text" ng-model="column.dataType">
						<option ng-repeat="dataType in dataTypes" value="{{dataType.id}}">{{dataType.name}}</option>
					</select> <span class="select-highlight"></span> <span class="select-bar"></span>
					<label class="select-label">Data Type</label>
				</div>
				<div class="space-top text-center">
					<button ng-disabled="form-define-columns.$invalid"
						ng-click="defineColumn(column.name, column.raw, column.dataType, selected)"
						class="waves-effect waves-light btn done">Define columns
					</button>
				</div>
			</div>
		</form>
	</div>
</div>