<md-dialog aria-label="A" style="height:60em; width:70em;">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{timeLineChart.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" style="margin:auto; height:90%; width:90%;">
                <div style="text-align:center;">
                    <canvas ng-if="availableResults" id="pie" class="chart chart-pie" chart-data="timeLineChart.data"
                            chart-labels="timeLineChart.labels" chart-options="timeLineChart.options"
                            chart-colors="timeLineChart.colors" style="margin-bottom:3em; margin-top:3em;">
                    </canvas>
                    <md-icon ng-if="!availableResults" md-svg-icon="img/icons/info.svg" style="width:50vh;height:50vh;">
                        <h2 class="md-title">אין תוצאות עבור תאריך זה</h2>
                    </md-icon>
                </div>
                <md-slider flex class="md-primary" md-discrete ng-model="timeLineChart.historyLineValue"
                           ng-change="handleTimeLinePick()" step="1" min="1" max="7" week-counter="{{weekCounter}}"
                            aria-label="inverted"
                           style="margin-top:3vh"
                           aria-label="md-primary"></md-slider>
                <div style="text-align:center;">
                    <h3 class="md-title">{{headline}}</h3>
                </div>
                <div layout-gt-xs="row">
                    <div style="text-align:center;" flex-gt-xs>
                        <md-button class="md-icon-button" aria-label="More" ng-mouseup="nextPage()">
                            <md-tooltip style="font-size:13px;">שבוע הבא</md-tooltip>
                            <md-icon md-svg-icon="img/icons/navigate_next.svg"></md-icon>
                        </md-button>
                        <md-datepicker ng-model="pickedDate" md-placeholder="בחר תאריך" ng-change="console.log('changed')" md-is-open="pickedDateOpen"></md-datepicker>
                        <md-button ng-disabled="weekCounter === 0" class="md-icon-button" aria-label="More"
                                   ng-mouseup="previousPage()">
                            <md-tooltip style="font-size:13px;">שבוע הקודם</md-tooltip>
                            <md-icon md-svg-icon="img/icons/navigate_before.svg"></md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>