<div class="row" style="display:flex; flex-wrap:wrap;">
    <div class="col-md-4 signup dashboard-card" style="margin:1br;"
         ng-repeat="chart in models.lists['Charts']">
        <div class="signup-screen">
            <form
                    class="form-generate-report ng-pristine ng-invalid ng-invalid-required"
                    method="post" name="register" novalidate="">
                <div class="row">
                    <div class="col-md-1">
                        <button class="btn remove-chart-from-dashboard" ng-click="removeChart($index,chart)">
                            <span class="glyphicon glyphicon-remove remove-chart-from-dashboard-glyphicon"></span>
                        </button>
                    </div>
                    <div class="col-md-10">
                        <h3 class="dashboard-chart-title">{{chart.name}}</h3>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <canvas id="pie" class="chart chart-pie" chart-data="chart.data"
                            chart-labels="chart.labels" chart-options="chart.options"
                            chart-colors="chart.colors">
                    </canvas>
                </div>
                <md-button class="md-icon-button" aria-label="More" ng-click="openChartDialog($event, chart)">
                    <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
                </md-button>
            </form>
        </div>
    </div>
</div>