<div class="row">
	<div class="col-md-4 signup dashboard-card"
		ng-repeat="chart in models.lists['Charts']">
		<div class="signup-screen">
			<form
				class="form-generate-report ng-pristine ng-invalid ng-invalid-required"
				method="post" name="register" novalidate="">
				<div class="row text-right">
					<button class="btn remove-chart-from-dashboard" ng-click="removeChart($index,chart)">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
				<div class="row-">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<h3 class="dashboard-chart-title">{{chart.name}}</h3>
					</div>
					<div class="col-md-1"></div>
				</div>
				<div class="row">
					<canvas id="pie" class="chart chart-pie" chart-data="chart.data"
						chart-labels="chart.labels" chart-options="chart.options"
						chart-colors="chart.colors">
                    </canvas>
				</div>
				<!-- <div class="row">
                    <ol class="chart-legend">
                        <div ng-repeat="color in chart.colors">
                            <span class="chart-legend-label">{{chart.labels[$index]}} ({{chart.data[$index]}})</span>
                            <li><span
                                    style="background-color: {{color.pointBackgroundColor}}"></span>
                            </li>
                        </div>
                    </ol>
                </div> -->
			</form>
		</div>
	</div>
</div>