<md-dialog aria-label="A" style="width:40em;">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{chartDetails.name}} - מסונן ע"פ:</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-grid-list
                    md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                    md-row-height-gt-md="1:1" md-row-height="2:2"
                    md-gutter="12px" md-gutter-gt-sm="8px">
                <md-grid-tile
                              md-rowspan="6">
                </md-grid-tile>

                <md-grid-tile
                              md-rowspan="6" md-colspan="6">
                </md-grid-tile>
            </md-grid-list>
            <!--<div flex-gt-sm="50" flex>-->
                <!--<md-list class="md-dense" flex>-->
                    <!--<md-list-item class="md-3-line" ng-repeat="filter in chartFilters">-->
                        <!--<div layout-gt-xs="row">-->
                            <!--<div style="text-align:center;" flex-gt-xs>-->
                                <!--<md-grid-list-->
                                        <!--md-gutter="12px" md-gutter-gt-sm="8px">-->
                                    <!--<md-grid-tile class="gray"-->
                                                  <!--md-rowspan="3" md-colspan="6" md-colspan-sm="1" md-colspan-xs="1">-->
                                        <!--<md-icon md-svg-src="img/icons/filter.svg" aria-label="Close dialog"></md-icon>-->
                                    <!--</md-grid-tile>-->
                                    <!--<md-grid-tile class="gray"-->
                                                  <!--md-rowspan="3" md-colspan="6" md-colspan-sm="1" md-colspan-xs="1">-->
                                        <!--<h6>{{filter.columnName + " " + filter.filterName + filter.value}}</h6>-->
                                    <!--</md-grid-tile>-->
                                <!--</md-grid-list>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</md-list-item>-->
                <!--</md-list>-->
            <!--</div>-->
        </md-dialog-content>

    </form>
</md-dialog>