<!--<ol class="chart-legend">-->
    <!--<div class="row legend-row" ng-repeat="label in chart.labels">-->
        <!--<div class="row">-->
            <!--<div class="col-md-2">-->
                <!--<li><span class="color-box"-->
                    <!--style="background-color: {{chart.colors[$index].pointBackgroundColor}}"></span>-->
                    <!--</li>-->
                <!--</div>-->
            <!--<div class="col-md-6">-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</ol>-->

            <!--<md-grid-list-->
                    <!--md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"-->
                    <!--md-row-height-gt-md="1:1" md-row-height="2:2"-->
                    <!--md-gutter="12px" md-gutter-gt-sm="8px" >-->
                <!--<md-grid-tile md-colspan="6" ng-repeat="label in chart.labels">-->
                    <!--<h4>{{chart.data[$index]}}: {{label}}</h4>-->
                <!--</md-grid-tile>-->
            <!--</md-grid-list>-->