<form class="form-build-chart" method="post" name="register" novalidate>
    <div class="simpleDemo row">
        <div class="col-md-2">
            <div class="row">
                <div id="signup">
                    <div class="padding-sources-name">
                        <input type="text" ng-model="searchSources"
                               class="build-report-name" required> <span
                            class="highlight"></span> <span class="bar"></span> <label
                            class="build-report-name-label select-label">חפש מקור</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-info-sources-only">
                    <div class="panel-heading panel-heading-sources-only">
                        <div class="panel-heading-sources-only">
                            <h3 class="panel-title">מקורות</h3>
                        </div>
                    </div>
                    <ul dnd-list="models.lists['Sources']"
                        class="scrollable-sources-only-area"
                        dnd-external-sources="true" style="direction:rtl"
                        ng-mouseover="selectedSource.hovered = true"
                        ng-mouseleave="selectedSource.hovered = false">
                        <li class="chart-page"
                            ng-repeat="source in models.lists['Sources']"
                            dnd-draggable="source"
                            ng-if="filterSources(source)"
                            dnd-effect-allowed="move"
                            dnd-moved="models.lists['Sources'].splice($index, 1)"
                            dnd-selected="selectedSourceEvent(source)"
                            ng-class="{'sourceSelected': source.selected}"
                            dnd-type="'Sources'">{{source.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2 class="chart-title">
                        <span ng-if="!selectedSource.selected || !selectedColumn.selected">בחר ייצוג </span>
                        <span>כמות ה</span><span class="selectedSource"
                                                 ng-class="{'glowSource': selectedSource.hovered && !selectedSource.selected}">{{selectedSource.text}}</span>
                        עבור <span class="selectedColumn"
                                    ng-class="{'glowColumn': selectedColumn.hovered && !selectedColumn.selected}">{{selectedColumn.text}}</span>
                    </h2>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <ol class="chart-legend">
                        <div class="row legend-row" ng-repeat="color in chart.colors">
                            <div class="col-md-10"><span class="chart-legend-label">{{chart.labels[$index]}} ({{chart.data[$index]}})</span>
                                <div class="col-md-2">
                                    <li><span
                                            style="background-color: {{color.pointBackgroundColor}}"></span>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </ol>
                </div>
                <div class="col-md-10">
                    <canvas id="pie" class="chart chart-pie"
                            chart-data="chart.data" chart-labels="chart.labels" chart-options="chart.options" chart-colors="chart.colors">
                    </canvas>
                    <!--<dragger-chart chart="chart"></dragger-chart>-->
                </div>
            </div>
            <div class="row padding-row">
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <button ng-disabled="form-build-report.$invalid" type="button"
                            ng-click="createChart()" class="btn done build-chart-button">בנה תרשים
                    </button>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div id="signup">
                    <div class="padding-sources-name">
                        <input type="text" ng-model="searchSourcesAndColumns"
                               class="build-report-name" required> <span
                            class="highlight"></span> <span class="bar"></span> <label
                            class="build-report-name-label select-label">חפש מקור/עמודה</label>
                    </div>
                </div>
            </div>
            <div class="row scrollable-sources-area">
                <div ng-repeat="(listName, list) in models.lists" class="row"
                     ng-if="filterSourcesList(listName,list)">
                    <div class="panel panel-info-sources-with-columns">
                        <div class="panel-heading panel-heading-sources-with-columns">
                            <div class=" panel-heading-sources-with-columns">
                                <h3 class="panel-title">{{listName}}</h3>
                            </div>
                        </div>
                        <ul dnd-list="list.columns" dnd-allowed-types="list.allowedTypes"
                            dnd-external-sources="true" style="direction:rtl"
                            ng-mouseover="selectedColumn.hovered = true"
                            ng-mouseleave="selectedColumn.hovered = false">
                            <li class="chart-page"
                                ng-repeat="column in list.columns"
                                dnd-draggable="column"
                                dnd-effect-allowed="move"
                                dnd-moved="list.columns.splice($index, 1)"
                                dnd-type="column.type"
                                dnd-selected="selectedColumnEvent(column)"
                                ng-class="{'selected': column.selected}" selectedColumn
                            >{{column.data.name}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>