.text-center{
    text-align: center;
}

.space-bot{
    margin-bottom: 35px;
}

.space-top{
    margin-top: 35px;
}

/* Title */

h1 {
    color: white;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

/* Sign Up */

.wide-dragger-form {
    max-width: 50%;
    max-height: 150px;
    margin-top: 10px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
}

.alert-danger{
    text-align: center;
}

.signup-screen {
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    color: #0859c1;
}

.input-group {
    width:100%;
}

.input-group .ng-invalid {
    border: 2px solid #e74c3c;
    border-radius: 3px;
}

.help-block {
    font-size: 12px;
    color: white
}


*, :before, :after {
    box-sizing: border-box;
}
form h1 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    color: #2196f3;
}
form h5 {
    text-align: center;
    text-transform: uppercase;
    color: #c6c6c6;
}
form hr.sep {
    background: #2196f3;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
}
form .emoji {
    font-size: 1.2em;
}
.group {
    position: relative;
    margin: 45px 0;
}
textarea {
    resize: none;
}
input, textarea {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 0px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}
input:focus, textarea:focus {
    outline: none;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}
input:focus ~ .bar:before, textarea:focus ~ .bar:before {
    width: 100%;
}
input[type="password"] {
    letter-spacing: 0.3em;
}
label {
    color: #c6c6c6;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: 300ms ease all;
}
.bar {
    position: relative;
    display: block;
    width: 100%;
}
.bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #2196f3;
    transition: 300ms ease all;
    left: 0%;
}
.btn {
    background-color: #0869f7;
    color: #e0dfdf;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
    color: white;
    background-color: #0859C1;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
    background: #2196f3;
    color: #d3eafd;
}
.btn.btn-link:hover {
    background: #0d8aee;
    color: #deeffd;
}
.btn.btn-submit {
    background: #2196f3;
    color: #bce0fb;
}
.btn.btn-submit:hover {
    background: #0d8aee;
    color: #deeffd;
}
.btn-box {
    text-align: center;
    margin: 50px 0;
}

/* select starting stylings ------------------------------*/
.select {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    position: relative;
    width: 100%;
    background-color: #E3D9DB;
}

.select-text {
    position: relative;
    font-family: inherit;
    width: 100%;
    padding: 10px 10px 10px 0;
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
.select-text:focus {
    outline: none;
    border-bottom: 1px solid rgba(0,0,0, 0);
}

/* Use custom arrow */
.select .select-text {
    appearance: none;
    -webkit-appearance:none
}

.select:after {
    position: absolute;
    top: 18px;
    right: 10px;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
    color: #2F80ED;
}


/* LABEL ======================================= */
.select-label {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
    color: #2F80ED;
    top: -20px;
    transition: 0.2s ease all;
    font-size: 14px;
}

/* BOTTOM BARS ================================= */
.select-bar {
    position: relative;
    display: block;
    width: 100%;
}

.select-bar:before, .select-bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #2F80ED;
    transition: 0.2s ease all;
}

.select-bar:before {
    left: 50%;
}

.select-bar:after {
    right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.connection-row
{
    height: 80px;
}